.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form-control label,
.form-control input {
  display: inline-block;
}

.form-control label {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.25px;
}

.form-control input {
  padding: 1.2rem 1.6rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font: inherit;
  font-size: 1.4rem;
}

.invalid.form-control input {
  background-color: #fff5f5;
  border: 1px solid #ffc9c9;
}

.form-control input:focus {
  outline: 1px solid #aaa;
}

.invalid.form-control input:focus {
  outline: 1px solid #ffc9c9;
}
